@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin-top: 2em;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #1d2021;
    font-family: 'JetBrains Mono', monospace;
    color: #ebdbb2;
}

#name {
    float: right;
    margin-top: 30px;
    margin-right: 80px;
}

#sec {
    font-size: 0.8em;
}

.infoopt {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0px;
    list-style: none;
}

.infoopt-items {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100px;
  font-weight: bold;
  text-align: center;
}

.sec-header {
    text-align: center;
}

.sec-p {
    text-indent: 40px;
    text-align: justify;
}

a {
    color: #ebdbb2;
    text-decoration: none;
}

.other-p {
    color: #ebdbb2;
    text-decoration: none;
}

#intro {
    color: #fabd2f;
    text-decoration: none;
}

.other-p:hover {
    color: #fabd2f;
}

#intro:hover {
    color: #ebdbb2;
}

@media only screen and (max-width:1340px) {
    body {
        margin-left: 350px;
        margin-right: 350px;
    }

    #name {
        margin-right: 80px;
        margin-top: 30px;
    }


}

@media only screen and (max-width:1240px) {
    body {
        margin-left: 300px;
        margin-right: 300px;
    }

    #name {
        margin-right: 80px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:1140px) {
    body {
        margin-left: 250px;
        margin-right: 250px;
    }

    #name {
        margin-right: 80px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:1044px) {
    body {
        margin-left: 200px;
        margin-right: 200px;
    }

    #name {
        margin-right: 80px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:944px) {
    body {
        margin-left: 150px;
        margin-right: 150px;
    }

    #name {
        margin-right: 80px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:844px) {
    body {
        margin-left: 100px;
        margin-right: 100px;
    }

    #name {
        margin-right: 80px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:744px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }

    #name {
        margin-right: 80px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:644px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }

    #name {
        font-size: 30px;
        margin-right: 80px;
        margin-top: 20px;
    }

    #pfp {
        width: 120px;
    }
}

@media only screen and (max-width:624px) {
    body {
        margin-left: 30px;
        margin-right: 30px;
    }

    #name {
        font-size: 30px;
        margin-right: 80px;
        margin-top: 20px;
    }

    #pfp {
        width: 120px;
    }
}

@media only screen and (max-width:584px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 120px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }
}

@media only screen and (max-width:560px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 120px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:530px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 100px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:510px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 80px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:490px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 60px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:485px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 60px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 98px;
    }
}

@media only screen and (max-width:470px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 60px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 98px;
    }
}

@media only screen and (max-width:450px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 40px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 95px;
    }
}

@media only screen and (max-width:440px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 40px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 90px;
    }
}

@media only screen and (max-width:430px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 30px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 90px;
    }
}

@media only screen and (max-width:420px) {
    #name {
        margin-right: 20px;
    }

    .infoopt-items {
        width: 86px;
    }
}

@media only screen and (max-width:410px) {
    #name {
        font-size: 24px;
    }

    #pfp {
        width: 100px;
    }
}

@media only screen and (max-width:400px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 23px;
        margin-right: 20px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 80px;
    }
}

@media only screen and (max-width:390px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 22px;
        margin-right: 10px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 78px;
    }
}

@media only screen and (max-width:370px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 22px;
        margin-right: 0px;
        margin-top: 15px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 76px;
    }
}

@media only screen and (max-width:360px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 21px;
        margin-right: 0px;
        margin-top: 15px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 73px;
    }
}

@media only screen and (max-width:350px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 20px;
        margin-right: 0px;
        margin-top: 15px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 0px;
        padding-right: 0px;
        width: 81px;
    }
}

@media only screen and (max-width:340px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 20px;
        margin-right: 0px;
        margin-top: 15px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 0px;
        padding-right: 0px;
        width: 78px;
    }
}

@media only screen and (max-width:330px) {
    body {
        font-size: 0.9em;
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 20px;
        margin-right: 0px;
        margin-top: 15px;
    }

    #pfp {
        width: 90px;
    }

    .infoopt-items {
        padding-left: 0px;
        padding-right: 0px;
        width: 76px;
    }
}