@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin-top: 2em;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #1d2021;
    font-family: 'JetBrains Mono', monospace;
    color: #ebdbb2;
}

#name {
    float: right;
    margin-top: 30px;
    margin-right: 80px;
}

#sec {
    font-size: 0.8em;
}

.infoopt {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0px;
    list-style: none;
}

.infoopt-items {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100px;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid #ebdbb2;
}

.infoopt-last {
    border-right: 0px;
}

.sec-header {
    text-align: center;
}

.sec-p {
    text-indent: 40px;
    text-align: justify;
}

a {
    color: #ebdbb2;
    text-decoration: none;
}

.other-p {
    color: #ebdbb2;
    text-decoration: none;
}

#intro {
    color: #fabd2f;
    text-decoration: none;
}

.other-p:hover {
    color: #fabd2f;
}

#intro:hover {
    color: #ebdbb2;
}