@media only screen and (max-width:490px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 60px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:485px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 60px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 98px;
    }
}

@media only screen and (max-width:470px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 60px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 98px;
    }
}

@media only screen and (max-width:450px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 40px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 95px;
    }
}

@media only screen and (max-width:440px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 40px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 90px;
    }
}

@media only screen and (max-width:430px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 25px;
        margin-right: 30px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 90px;
    }
}

@media only screen and (max-width:420px) {
    #name {
        margin-right: 20px;
    }

    .infoopt-items {
        width: 86px;
    }
}

@media only screen and (max-width:410px) {
    #name {
        font-size: 24px;
    }

    #pfp {
        width: 100px;
    }
}

@media only screen and (max-width:400px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    #name {
        font-size: 23px;
        margin-right: 20px;
        margin-top: 10px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
        width: 80px;
    }
}