@media only screen and (max-width:584px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 120px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }
}

@media only screen and (max-width:560px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 120px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:530px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 100px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:510px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    #name {
        font-size: 25px;
        margin-right: 80px;
        margin-top: 20px;
    }

    #pfp {
        width: 100px;
    }

    .infoopt-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}