@media only screen and (max-width:644px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }

    #name {
        font-size: 30px;
        margin-right: 80px;
        margin-top: 20px;
    }

    #pfp {
        width: 120px;
    }
}

@media only screen and (max-width:624px) {
    body {
        margin-left: 30px;
        margin-right: 30px;
    }

    #name {
        font-size: 30px;
        margin-right: 80px;
        margin-top: 20px;
    }

    #pfp {
        width: 120px;
    }
}